################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/MD.BusinessRuleEngine/.vs
/MD.BusinessRuleEngine/obj
/MD.BusinessRuleEngine/bin
