################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MD.BusinessRuleEngine/.vs

/MD.BusinessRuleEngine/obj
/MD.BusinessRuleEngine/bin

/MD.BusinessRuleEngine.Models/obj
/MD.BusinessRuleEngine.Models/bin

/MD.BusinessRuleEngine.TestHelpers/obj
/MD.BusinessRuleEngine.TestHelpers/bin

/MD.BusinessRuleEngineTests/obj
/MD.BusinessRuleEngineTests/bin

/MD.BusinessRuleEngine.Processors/obj
/MD.BusinessRuleEngine.Processors/bin

/MD.BusinessRuleEngine.ProcessorsTests/obj
/MD.BusinessRuleEngine.ProcessorsTests/bin
